<html>
    <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="{{BOTNAME}}" data-size="large" data-auth-url="{{BOTDOMAIN}}/login" data-request-access="write"></script>
    <body>

    {% if not telegram %}
    <a href="https://oauth.telegram.org/auth?bot_id={{BOTID}}&origin={{BOTDOMAIN}}">Авторизоваться через Telegram</a>
    {% else %}
    <img src="{{photo}}" width="70"><a>Вы вошли как {{name}}! <a href="/logout">Выйти с аккаунта</a></a>
    {% endif %}
    </body>
</html>
